@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes slowZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.particle {
  position: absolute;
  bottom: -10px;
  width: 3px;
  height: 3px;
  background: #22c55e;
  border-radius: 50%;
  opacity: 0.6;
  animation: floatUp 12s linear infinite;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  20% {
    opacity: 0.6;
  }

  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.animate-zoom {
  animation: slowZoom 8s ease-in-out forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}